.lashes-header {
  height: 500px;
  width: 100vw;
  background-image: url(../images/lashes-banner.jpg);
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
}
