// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries


// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 90px 50px 90px;
}
